:root{
    --page-padding: clamp(1rem, 3vw, 1.55rem);
    --nav-height: 10vh;
}
/* General */
.home{
    font-family: Inter;
    height: 100svh;
    position: relative;
    background-color:white;
    padding-inline: calc(var(--page-padding) * 1.25);
    padding-top: var(--page-padding);
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
}

/* Header */
.home-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-header-icon{
    position: relative;
    width: clamp(2rem, 5vw, 3rem);
    cursor: pointer;
}
.home-header-content{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
.home-header-content > h2{
    margin-bottom: 0;
    font-size: clamp(1.5rem,4vw,2.25rem)
}
.home-header-content > span{
    color: #767676;
    font-size: clamp(1rem, 2.75vw, 1.75rem);
}

/* Categories */
.home-categories-wrapper{
    height: fit-content;
    padding-block: .75rem;
}
.home-categories-header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.home-categories-header > span{
    font-size: clamp(1rem,2vh,2.25rem);
    cursor: pointer;
    color: #767676;
}
.home-categories-header > h2{
    margin: 0;
    font-size: clamp(1.5rem,4vw,2.25rem);
}
.home-categories-field{
    --category-padding:1rem;
    overflow-x: auto;
    display: flex;
    gap: clamp(1.5rem, 5vw, 3rem);
    padding: calc(1/2 * var(--category-padding)) var(--category-padding);
    width: calc(100% - 2 * var(--category-padding));
    height: fit-content;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}
.home-categories-field::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
/* prolly a component */
.category{
    aspect-ratio: 1/0.86;
    height: clamp(4rem,6vh,12rem);
    border-radius: 1rem;
    border: none;
    background: transparent;
    box-shadow: -2px 3px 5px 2.5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #bb4ae7;
    font-weight: 700;
    font-family: Inter;
}
.category > svg{
    width: 40%;
    height: 40%;
    color: #bb4ae7;
}
.category:focus-visible{
    outline: 0;
}
.active-category {
    background-color: rgb(50, 50, 50);
    color: red;
}
.active-category > svg{
    color: red;
}
/* Main */
.home-main{
    /* whole remaining space plus nav height so we can scroll above it */
    flex-grow: 1;
    padding-block: .25rem calc(var(--nav-height) + .25rem);
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.home-main::-webkit-scrollbar { 
    display: none;
}
.home-trending > h2, .home-upcoming > h2 ,.home-favorite > h2{
    margin: 0;
    font-size: clamp(1.5rem,4vw,2.25rem);
}


