.events-wrapper{
    display: flex;
    gap: 1.5rem;
    overflow-y: auto;
    padding: 1rem .5rem;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}
.events-wrapper::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.event{
    --event-br: 1rem;
    height: 28vh;
    aspect-ratio: 0.94/1;
    border-radius: var(--event-br);
    box-shadow: 0px 3px 5px 2.5px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: repeat(2,1fr);
    justify-content: stretch;
    gap: .5rem;
    padding-block-end: .5rem;
}
.event-picture{
    background: url(https://images.unsplash.com/photo-1514525253161-7a46d19cd819?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    filter: drop-shadow(0px 12px 35px rgba(0, 0, 0, 0.1));
    background-size: cover;
    border-radius: var(--event-br) var(--event-br) 0px 0px;
    height: 100%;
    width: 100%;
}
.event-content{
    font-size: clamp(.75rem, 3vw, 1rem);
    padding-inline: 1ch;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.event-content-datetime{
    display: flex;
    justify-content: space-between;
}
.event-coming{
    --avatar-size: clamp(20px,3.5vw,25px);
    --column-size: calc(var(--avatar-size) / 2);
    display: inline-grid;
    width: fit-content;
    grid-template-columns: repeat(5, var(--column-size));
}
.placeholder-img{
    background-color: #828080;
    width: var(--avatar-size);
    aspect-ratio: 1/1;
    border-radius: 100%;
    outline: 1px solid red;
}
.event-interact{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 1rem;
    margin-top: .5rem;
}
.event-interested-button{
    border: none;
    background: red;
    color: white;
    font-size: clamp(.8rem, 2.75vw, .9rem);
    border-radius: .5rem;
    padding: .25rem .625rem;
    cursor: pointer;
}
@media screen and (min-height: 1000px) {
    .event-content > * {
        padding-inline: 2ch;
        font-size: clamp(.75rem, 2.5vw, 1.125rem);
    }
    .event-interested-button{
        font-size: clamp(.75rem, 2.75vw, 1.25rem);
    }
}
@media screen and (min-aspect-ratio: 1/0.8) {
    .event-content {
        font-size: clamp(.5rem, 2vw, .75rem);
    }
    .event-interested-button{
        font-size: clamp(.5rem, 1.5vw, 1rem);
    }
    .event{
        aspect-ratio: 1.2/1;
    }
}
